<template>
  <div class="h-full">
    <form class="h-full bg-white shadow-md rounded px-8 pt-6 pb-8">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="snippet-title">
          Title
        </label>
        <input
          v-model="title"
          id="snippet-title" type="text" placeholder="Username"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
          Description
        </label>
        <input
          v-model="description"
          id="description" type="text" placeholder="Description"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-6">
        <client-only placeholder="Codemirror Loading...">
          <codemirror v-model="code"
                      ref="cmEditor"
                      :value="code"
                      :options="cmOptions"
                      @cursorActivity="onCmCursorActivity"
                      @ready="onCmReady"
                      @focus="onCmFocus"
                      @input="onCmCodeChange"
          />
        </client-only>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Create
        </button>
        <a @click="clear"
           class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
          Clear
        </a>
      </div>
    </form>
  </div>
</template>

<script>
import dedent from 'dedent'

  export default {
    data: () => ({
      title: '',
      description: '',
      language: '',
      snippet: '',
      code: dedent`
          <template>
            <main>
              <h1>Hello World!</h1>
              <p>{{ message }}</p>
            </main>
          </template>
        `,
      cmOptions: {
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        foldGutter: true,
        styleSelectedText: true,
        mode: 'text/javascript',
        keyMap: "sublime",
        matchBrackets: true,
        showCursorWhenSelecting: true,
        theme: "base16-light",
        extraKeys: {"Ctrl": "autocomplete"},
        hintOptions: {
          completeSingle: false
        }
      }
    }),

    computed: {
      codemirror() {
        return this.$refs.cmEditor.codemirror
      }
    },

    methods: {
      clear() {
        this.code = ''
      },

      onCmCursorActivity(codemirror) {
        console.log('onCmCursorActivity', codemirror)
      },
      onCmReady(codemirror) {
        console.log('the current CodeMirror instance object:', this.codemirror)
        console.log('onCmReady', codemirror)
      },
      onCmFocus(codemirror) {
        console.log('onCmFocus', codemirror)
      },
      onCmBlur(codemirror) {
        console.log('onCmBlur', codemirror)
      },
      onCmCodeChange(newCode) {
        console.log('this is new code', newCode)
        this.code = newCode
      }
    }
  }
</script>
