<template>
  <div class="container">
    <div>
      <!--<Logo />-->
      <Explanation />
      <div class="links">
        <nuxt-link
          to="/snippet/all"
          class="button--green"
        >
          Overview
        </nuxt-link>
        <nuxt-link
          to="/snippet/create"
          class="button--grey"
        >
          Create a Snippet
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import Explanation from '~/components/Explanation.vue';

export default {
  components: {
    Explanation
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
