<template>
  <div class="sm:text-center lg:text-left">
    <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
      Create and share
      <br class="xl:hidden">
      <span class="text-indigo-600">your Snippet</span>
    </h2>
    <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
      Create & Share your code snippets using snipperino.
    </p>
    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
      <div class="flex flex-wrap items-center justify-center bg-gray-50 py-12 px-1 sm:px-1 lg:px-1">
        <div class="rounded-md shadow">
          <span
            @click="toggleRegister('login')"
            :class="login.active ? 'bg-indigo-600 hover:bg-indigo-500 text-white' : 'bg-indigo-100 text-indigo-700 hover:text-indigo-600'"
            class="w-full flex items-center justify-center cursor-pointer px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
            Login
          </span>
        </div>
        <div class="mt-3 sm:mt-0 sm:ml-3">
          <span
            @click="toggleRegister('register')"
            :class="register.active ? 'bg-indigo-600 hover:bg-indigo-500 text-white' : 'bg-indigo-100 text-indigo-700 hover:text-indigo-600'"
            class="w-full flex items-center justify-center cursor-pointer px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md hover:bg-indigo-50 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-300 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
            Register
          </span>
        </div>
        <div class="max-w-md w-full">
          <LoginForm v-show="login.active" />
          <RegisterForm v-show="register.active" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from '~/components/auth/LoginForm.vue'
import RegisterForm from '~/components/auth/RegisterForm.vue'

export default {
  components: {
    LoginForm,
    RegisterForm
  },

  layout: 'register',

  data: () => ({
    login: {
      active: true
    },
    register: {
      active: false
    }
  }),

  mounted() {
    console.log(this.$route.params);
  },

  methods: {
    toggleRegister(type) {
      if (type == 'login') {
        this.register.active = false;
        this.login.active = true;
      }
      if (type == 'register') {
        this.login.active = false;
        this.register.active = true;
      }
    }
  }
}
</script>
