<template>
  <div>
    <Header title="Create Snippet" />
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
          <div class="w-11/12 sm:w-11/12 md:w-10/12 lg:w-8/12 mx-auto border-4 border-gray-200 rounded-lg h-96">
            <SnippetForm />
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import Header from "~/components/Header.vue";
import SnippetForm from "~/components/SnippetForm.vue";

export default {
  components: {
    Header,
    SnippetForm
  },
};
</script>
